name: golangci-lint
on:
  push:
    branches:
      - "master"
  pull_request:
    types: [opened, synchronize]
    branches:
      - "*"
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: install go
        uses: actions/setup-go@v6.2.0
        with:
          go-version-file: go.mod
          check-latest: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # pin@v9.2.0
        with:
          version: v2.6.2
          args: -v --timeout=5m
