name: test
on:
  push:
    branches:
      - "master"
  pull_request:
    type: [created, synchronize, reopened]
    branches:
      - "*"
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: install go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: checkout code
        uses: actions/checkout@v2
      - name: test
        run: make test
      - name: upload coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          file: coverage.out
          fail_ci_if_error: true
          verbose: true
