name: test
on:
  push:
    branches:
      - "master"
  pull_request:
    types: [opened, synchronize]
    branches:
      - "*"
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: install go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
          check-latest: true

      - name: test
        run: make test

      - name: upload coverage to codecov
        uses: codecov/codecov-action@0561704f0f02c16a585d4c7555e57fa2e44cf909 # pin@5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.out
          fail_ci_if_error: false
          verbose: true

  test-examples:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: install go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: go.mod
          check-latest: true

      - name: test examples
        run: make test-examples
